html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #6768d1;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  color: #3033c2;
}

body {
  margin: 0px;
  background-color: #dcdde2;
}

main {
  display: flex;
  justify-content: center;
}

article {
  min-width: 600px;
  width: 700px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.header {
  margin: 0px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8e2e2;
  border-bottom: 1px solid rgb(143, 146, 146);
}
